@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

.examples-app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: auto;
  max-width: 1000px;
  min-height: 100vh;
}

.pt-form-content .pt-tag {
  margin-left: 5px;
}
.pt-form-content .pt-tag:first-child {
  margin-left: 0;
}
